@model PersonCrud.Models.PersonViewModel

<form action="/Person/Update" method="post">
    <fieldset>
        <legend>Update Person</legend>
        <input type="text" value="@Model.Person.FirstName" name="Person.FirstName"/><br />
        <input type="text" name="Person.LastName" value="@Model.Person.LastName" /><br />
        <input type="text" name="Person.Age" value="@Model.Person.Age" /><br />
        <input type="hidden" name="Person.Id" value="@Model.Person.Id"/>
        <input type="submit" value="Update" class="btn btn-success"/>
        <input type="reset"  value="Reset" class="btn btn-danger"/>
    </fieldset>
</form>
