@model PersonCrud.Models.PersonsViewModel

@ViewBag.Foobar

<div class="row-fluid" id="addnew">
    <input type="text" id="addfirstname" placeholder="first name"/>
    <input type="text" id="addlastname" placeholder="last name"/>
    <input type="text" id="addage" placeholder="age"/>
    <button  class="btn btn-primary" id="addnewbtn">Add New Person</button>
</div>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    @foreach (var person in Model.Persons)
    {
        Html.RenderPartial("PersonRow", person);
    }
</table>

@section scripts{
    <script type="text/javascript" src="~/Scripts/PersonScripts.js"></script>
}