

<form action="/Person/Create" method="post">
    <fieldset>
        <legend>New Person</legend>
        <input type="text" name="Person.FirstName" placeholder="First Name" /><br />
        <input type="text" name="Person.LastName" placeholder="Last Name" /><br />
        <input type="text" name="Person.Nickname" placeholder="Nickname" /><br />
        <input type="text" name="Person.Age" placeholder="Age" /><br />
        <input type="submit" value="Submit" class="btn btn-success"/>
        <input type="reset"  value="Reset" class="btn btn-danger"/>
    </fieldset>
</form>
